.clase{
    color: blue;
}

p{
    color: brown !important;
}

p{
    color: burlywood;
}

#identificador{
    color: coral;
}


main {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
